<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Editar Expediente</title>

    <!-- Icons font CSS-->
    <link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="css/main2.css" rel="stylesheet" media="all">
    <link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="css/style.css">
	
</head>
<body>
<!-- partial:index.partial.html -->
<nav class="nav">
  <div class="burger">
    <div class="burger__patty"></div>
  </div>

  <ul class="nav__list">
    <li class="nav__item">
      <a href="#1" class="nav__link c-red scrolly"><i class="fa fa-book"></i></a>
    </li>
    <li class="nav__item">
      <a th:onclick="|window.location.href='/materiascursadas'|" class="nav__link c-blue scrolly"><i class="fa fa-arrow-left"></i></a>
    </li>
  </ul>
</nav>

<section class="panel b-red" id="1" >
  <article class="panel__wrapper" >
                <div class="card-body">
                    <h2 class="title" align="center"><b>Datos de la Materia Cursada</b></h2>
                    <p align="center">Nombre del Alumno</p>
              
                    <form th:action="@{/addMateria}" method="POST" th:object="${nota}">	
                    	<div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <div class="input-group">
                            			<label class="label"><b>Materia</b></label>
                            			<div class="rs-select2 js-select-simple select--no-search">
		                                	<select th:field="*{cmateria}">
		                                    	<option selected="selected" value="">Seleccionar</option>
		                                    	<option th:each="subj : ${materias}"
								                		th:value="${subj.cmateria}"
								                		th:text="${subj.snombre}">
								                </option>
		                                	</select>		                                	
		                                	<br><span th:errors="*{cmateria}" style="color:#FFFFFF"></span>
		                                	<div class="select-dropdown"></div>		                                	
		                            	</div>
                        			</div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label"><b>Año</b></label>
                                    <input class="input--style-4" type="text" th:field="*{ianio}" 
                                    pattern="([2]{1})+([0]{1})+([0-2]{1})+([5-9])" title="El añño debe ser mayor o igual a 2005">
                                    <br><span th:errors="*{ianio}" style="color:#FFFFFF"></span>
                                </div>
                            </div>
                        </div>	
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <div class="input-group">
                            			<label class="label"><b>Ciclo</b></label>
                            			<div class="rs-select2 js-select-simple select--no-search">
		                                	<select th:field="*{iciclo}">
		                                    	<option selected="selected" value="">Seleccionar</option>
		                                    	<option value="01">01</option>
		                                    	<option value="02">02</option>
		                                    	<option value="03">03</option>
		                                	</select>
		                                	<br><span th:errors="*{iciclo}" style="color:#FFFFFF"></span>
		                                	<div class="select-dropdown"></div>		                                	
		                            	</div>
                        			</div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label"><b>Nota</b></label>
                                    <input class="input--style-4" type="number" th:field="*{inota}" step="0.1" min="0" max="10">
                                    <br><span th:errors="*{inota}" style="color:#FFFFFF"></span>
                                </div>
                            </div>
                        </div>		
                        
                        <div class="input-group" align="center">
                        	<button class="btn-new">
								Guardar
							</button>
                        </div>
                    </form>
                    <p align="center" th:if="${exito == 1}" class="mb-0">Materia agregada con &eacute;xito</p><br/>
                </div>
    
  </article>
</section>

<a href="http://ettrics.com/code/vertical-layout-navigation/" class="logo" target="_blank">
 	<form th:action="@{/cerrarsesion}" method="post">
        <input class="btn-logout" type="submit" value="Cerrar Sesion">
    </form> 
</a>
<!-- partial -->
  	<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script><script  src="js/script.js"></script>

    <!-- Jquery JS-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="vendor/select2/select2.min.js"></script>
    <script src="vendor/datepicker/moment.min.js"></script>
    <script src="vendor/datepicker/daterangepicker.js"></script>

    <!-- Main JS-->
    <script src="js/global.js"></script>
</body>
</html>