<!DOCTYPE html>
<html lang="en" >
<head>
	<title>Expedientes</title>
  	<meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width">
    <!-- Icons font CSS-->
    <link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="css/main2.css" rel="stylesheet" media="all">
    <link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="css/style.css">

    <script type="text/javascript">
        $(document).ready(function(){
            var table = $('#tablaAlumnos').DataTable( {
                "processing": true,
                "serverSide": true,
                "ajax": "./filterStudent",
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
                },
                "pageLength": 5,
                "columnDefs": [ {
                    "targets": 0,
                    "data": null,
                    "defaultContent": "<button  title='Editar estudiante'><i class='fa fa-pencil'></i></button>"
                }]
            });

            $('#tablaAlumnos tbody').on( 'click', 'button', function () {
                var data = table.row( $(this).parents('tr') ).data();
                location.href = './editarexpediente?id=' + data[0];
            } );
        });
    </script>
</head>
<body>
<!-- partial:index.partial.html -->
<nav class="nav">
  <div class="burger">
    <div class="burger__patty"></div>
  </div>

  <ul class="nav__list">
    <li class="nav__item">
      <a href="#1" class="nav__link c-yellow scrolly"><i class="fa fa-users"></i></a>
    </li>
    <li class="nav__item">
      <a th:onclick="|window.location.href='/alumnos'|" class="nav__link c-blue scrolly"><i class="fa fa-arrow-left"></i></a>
    </li>
  </ul>
</nav>


<section class="panel b-yellow" id="1" >

    <div class="padding-table">

      	<div class="panel__block"></div>
		<table class="table table-bordered" id="tablaAlumnos" th:object="${estudiante}" width="100%" cellspacing="0">
		<thead>
            <th style="width: 80px">Acci&oacute;n</th>
			<th>Nombre</th>
			<th>Apellido</th>
			<th>Materias Aprobadas</th>
			<th>Materias Reprobadas</th>
			<th>Promedio</th>
		</thead>
		</table>
    </div>

</section>



<a href="http://ettrics.com/code/vertical-layout-navigation/" class="logo" target="_blank">
 	<form th:action="@{/cerrarsesion}" method="post">
        <input class="btn-logout" type="submit" value="Cerrar Sesion">
    </form> 
</a>
<!-- partial -->
  	<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script><script  src="js/script.js"></script>

    <!-- Jquery JS-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="vendor/select2/select2.min.js"></script>
    <script src="vendor/datepicker/moment.min.js"></script>
    <script src="vendor/datepicker/daterangepicker.js"></script>

    <!-- Main JS-->
    <script src="js/global.js"></script>




</body>
</html>