<!DOCTYPE html>
<html lang="en" >
<head>
	<title>Expedientes</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	
  	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
	
    <script type="text/javascript">
        $(document).ready(function(){
            var table = $('#tablaAlumnos').DataTable( {
                "processing": true,
                "serverSide": true,
                "ajax": "./filterStudent",
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
                },
                "pageLength": 5,
                "columnDefs": [ {
                    "targets": 0,
                    "data": null,
                    "defaultContent": "</i></button> <button id='ed'  title='Editar Estudiante'><i class='fa fa-search'></i></button><br><button id='su'  title='Materias Cursadas'><i class='fa fa-pencil'>"
                }]
            });

            $('#tablaAlumnos tbody').on( 'click', '#ed', function () {
                var data = table.row( $(this).parents('tr') ).data();
                location.href = './editarexpediente?id=' + data[0];
            } );
            $('#tablaAlumnos tbody').on( 'click', '#su', function () {
                var data = table.row( $(this).parents('tr') ).data();
                location.href = './materiascursadas?id=' + data[0];
            } );
        });
    </script>
</head>
<body>
<!-- partial:index.partial.html -->

<section class="panel b-yellow" id="1" >

    <div class="padding-table">

      	<div class="panel__block"></div>
		<table class="table table-bordered" id="tablaAlumnos"  width="100%" cellspacing="0">
            <thead>
            <th style="width: 80px">Acci&oacute;n</th>
			<th>Nombre</th>
			<th>Apellido</th>
			<th>Materias Aprobadas</th>
			<th>Materias Reprobadas</th>
			<th>Promedio</th>
		</thead>
		</table>
    </div>

</section>

<a class="logo" target="_blank">
	<p align="center">
		<button class="btn-index" th:onclick="|window.location.href='/alumnos'|">
			Regresar
		</button>
    </p>
 	<form th:action="@{/cerrarsesion}" method="post">
        <input class="btn-logout" type="submit" value="Cerrar Sesion">
    </form> 
</a>
<!-- partial -->
  	<script  src="js/script.js"></script>

</body>
</html>