<!DOCTYPE html>
<html lang="en" >
<head>
	<title>Materias Cursadas</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	
  	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
	
	<script type="text/javascript">
		$(document).ready(function() {
	    	setTimeout(function() {
	        	$("#saved").fadeOut();
	    	},1000);
		});
	</script>
	<script type="text/javascript">
        $(document).ready(function(){
            var table = $('#tablaMateriasC').DataTable( {
                "processing": true,
                "serverSide": true,
                "ajax": "./cargarMateriasEstudiante",
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
                },
                "pageLength": 5,
                "columnDefs": [ {
                    "targets": 0,
                    "data": null,
                    "defaultContent": "</i></button> <button title='Editar Materia'><i class='fa fa-pencil'></i></button>"
                }]
            });

            $('#tablaMateriasC tbody').on( 'click', 'button', function () {
                var data = table.row( $(this).parents('tr') ).data();
                location.href = './editarnuevamateriacursada?id=' + data[0];
            } );
        });
    </script>
	
</head>
<body>

<section class="panel b-red" id="1" >
  <article class="panel__wrapper" >
    <div class="panel__content" align="center">
      	<h1 class="panel__headline"><i class="fa fa-book"></i></i>Materias Cursadas</h1>
      	<div class="panel__block"></div>
      	
      	<p align="center">Nombre del Alumno:<h2 th:object="${estudiante}" th:text="${estudiante.snombres}"></h2><h2 th:object="${estudiante}" th:text="${estudiante.sapellidos}"></h2></p>
      	<div class="panel__block"></div>
      	<p>
	      	<button class="btn-new" th:onclick="|window.location.href='/nuevamateriacursada'|">
				Agregar Nueva Materia
			</button>
			<br><label th:if="${save == 1}" class="panel__headline" id="saved">MATERIA GUARDADA CON EXITO</label>
		</p>
		<div class="panel__block"></div>
		<table class="table table-bordered" id="tablaMateriasC"  width="100%" cellspacing="0">
		<thead>
			<th>Accion</th>
			<th>Materia</th>
			<th>Año</th>
			<th>Ciclo</th>
			<th>Nota</th>
			<th>Resultado</th>
		</thead>
		</table>
  </article>
</section>

<a class="logo" target="_blank">
	<p align="center">
		<button class="btn-index" th:onclick="|window.location.href='/alumnos'|">
			Regresar
		</button>
    </p>
 	<form th:action="@{/cerrarsesion}" method="post">
        <input class="btn-logout" type="submit" value="Cerrar Sesion">
    </form> 
</a>
<!-- partial -->
  	<script  src="js/script.js"></script>

</body>
</html>