<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Catalogo Materias</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/main.css">
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.js"></script>
	
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
  
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
	

			
	<script type="text/javascript">
	$(document).ready(function() {
	    setTimeout(function() {
	        $("#aviso").fadeOut();
	    },1000);
	});
	</script>
			
</head>
<script type="text/javascript">
		$(document).ready(function(){
			var table = $('#tablaMaterias').DataTable( {
		        "processing": true,
		        "serverSide": true,
		        "ajax": "./cargarMaterias",
		        "language": {
		            "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
		        },
		        "pageLength": 5,
		        "columnDefs": [ {
		            "targets": 0,
		            "data": null,
		            "defaultContent": "<button  title='Editar cliente'>Editar</button>"
		        }]
		    });
			
			$('#tablaMaterias tbody').on( 'click', 'button', function () {
		        var data = table.row( $(this).parents('tr') ).data();
		        	location.href = './editarMateria?id=' + data[0];
		    } );
		});
	</script>

<body>
<!-- partial:index.partial.html -->
<nav class="nav">
  <div class="burger">
    <div class="burger__patty"></div>
  </div>

  <ul class="nav__list">
    <li class="nav__item">
      <a href="#1" class="nav__link c-red scrolly"><i class="fa fa-book"></i></a>
    </li>
    <li class="nav__item">
      <a th:onclick="|window.location.href='/adminview'|" class="nav__link c-blue scrolly"><i class="fa fa-arrow-left"></i></a>
    </li>
  </ul>
</nav>

<section class="panel b-red" id="1" >
  <article class="panel__wrapper" >
    <div class="panel__content" align="center">
      	<h1 class="panel__headline"><i class="fa fa-book"></i></i>Materias</h1>
      	<div class="panel__block"></div>
      	<p>
      		<button class="btn-new" th:onclick="|window.location.href='/materia'|">
				Nueva Materia
			</button>
			<br><label th:if="${save == 1}" class="panel__headline" id="aviso">MATERIA GUARDADA CON EXITO</label>
      	</p>
		
		<div class="panel__block"></div>
      	<p>Ver Registros</p>	
		<a href="#2" class="scrolly"><i class="fa fa-arrow-down arrow"></i></a>
    </div>
    
  </article>
</section>
<section class="panel b-red" id="2" >
	<div class="padding-table">
		<table  class="table table-bordered" id="tablaMaterias" width="100%" cellspacing="0">
			<thead>
				<tr>
		            <th style="width: 130px">Acci&oacute;n</th>
					<th>Codigo</th>
					<th>Nombre</th>
				</tr>			
			</thead>
		
		</table>
	</div>
	
</section>



<a href="http://ettrics.com/code/vertical-layout-navigation/" class="logo" target="_blank">
 	<form th:action="@{/cerrarsesion}" method="post">
        <input class="btn-logout" type="submit" value="Cerrar Sesion">
    </form> 
</a>

	<!-- partial -->
  	<script  src="js/script.js"></script>
	

</body>
</html>