<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  	<title>Catalogo Usuarios</title>
  	  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/main.css">
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.js"></script>
	
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
  
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>

	<script type="text/javascript">
		$(document).ready(function() {
	    	setTimeout(function() {
	        	$("#saved").fadeOut();
	    	},1000);
		});
	</script>
</head>
<body>

<section class="panel b-green" id="1" >
  <article class="panel__wrapper" >
    <div class="panel__content" align="center">
      	<h1 class="panel__headline"><i class="fa fa-users"></i></i>Usuarios</h1>
      	<div class="panel__block"></div>
      	<p>
      		<button class="btn-new" th:onclick="|window.location.href='/usuario'|">
				Nuevo Usuario
			</button>
			<br><label th:if="${save == 2}" class="panel__headline" id="saved">USUARIO GUARDADO CON EXITO</label>
      	</p>
		
		<div class="panel__block"></div>
      	<p>Ver Registros</p>	
		<a href="#2" class="scrolly"><i class="fa fa-arrow-down arrow"></i></a>
    </div>
    
  </article>
</section>
<section class="panel b-green" id="2" >
	<div class="padding-table">
		<table>
		<thead>
			<th>Accion</th>
			<th>Codigo</th>
			<th>Nombre Usuario</th>
			<th>Administrador</th>
			<th>Fecha Nacimiento</th>
			<th>Direccion</th>
			<th>Departamento</th>
			<th>Municipio</th>
			<th>Estado</th>
	</thead>
		<th:block >

		</th:block>
	</table>
	</div>
	
</section>



<a class="logo" target="_blank">
	<p align="center">
		<button class="btn-index" th:onclick="|window.location.href='/adminview'|">
			Regresar
		</button>
    </p>
 	<form th:action="@{/cerrarsesion}" method="post">
        <input class="btn-logout" type="submit" value="Cerrar Sesion">
    </form> 
</a>
<!-- partial -->
  	</script><script  src="js/script.js"></script>

</body>
</html>